FASTMSSQL_SQL_AUTH_HOST=127.0.0.1
FASTMSSQL_SQL_AUTH_PORT=14334
FASTMSSQL_SQL_AUTH_DATABASE=fastmssql_validation
FASTMSSQL_SQL_AUTH_UPSTREAM_DATABASE=fastmssql_upstream_regression
FASTMSSQL_SQL_AUTH_SA_USER=sa
FASTMSSQL_SQL_AUTH_SA_PASSWORD=EXAMPLE_ONLY_NOT_A_CREDENTIAL
FASTMSSQL_SQL_AUTH_OWNER_USER=fastmssql_owner
FASTMSSQL_SQL_AUTH_OWNER_PASSWORD=EXAMPLE_ONLY_NOT_A_CREDENTIAL
FASTMSSQL_SQL_AUTH_READONLY_USER=fastmssql_readonly
FASTMSSQL_SQL_AUTH_READONLY_PASSWORD=EXAMPLE_ONLY_NOT_A_CREDENTIAL
FASTMSSQL_SQL_AUTH_DENIED_USER=fastmssql_denied
FASTMSSQL_SQL_AUTH_DENIED_PASSWORD=EXAMPLE_ONLY_NOT_A_CREDENTIAL
